<script src="/static/templates/01-newsfeed/js/jquery.min.js"></script> 
<script src="/static/templates/01-newsfeed/js/wow.min.js"></script> 
<script src="/static/templates/01-newsfeed/js/bootstrap.min.js"></script> 
<script src="/static/templates/01-newsfeed/js/slick.min.js"></script> 
<script src="/static/templates/01-newsfeed/js/jquery.li-scroller.1.0.js"></script> 
<script src="/static/templates/01-newsfeed/js/jquery.newsTicker.min.js"></script> 
<script src="/static/templates/01-newsfeed/js/jquery.fancybox.pack.js"></script> 
<script src="/static/templates/01-newsfeed/js/custom.js"></script>

