          <div class="single_post_content">
            <h2><span>{{@category_title}}</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                    <figure class="bsbig_fig"> <a href="{{@featured_url}}" class="featured_img"> <img alt="" src="{{@featured_img}}"> <span class="overlay"></span> </a>
                    <figcaption><a href="{{@featured_url}}">{{@featured_title}}</a></figcaption>
                    <p>{{@featured_description}}</p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {{#posts}}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{@posts:url}}" class="media-left"> <img alt="{{@posts:alt}}" src="{{@posts:image}}"> </a>
                  <div class="media-body"> <a href="{{@posts:url}}" class="catg_title"> {{@posts:title}}</a> </div>
                  </div>
                </li>
                {{/posts}}
              </ul>
            </div>
          </div>

